<div class="container mt-4">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [(ngModel)]="name"
        [ngModelOptions]="{standalone: true}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputApaterno1" class="form-label"
        >Apellido Paterno</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputApaterno1"
        [(ngModel)]="a_paterno"
        [ngModelOptions]="{standalone: true}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputAmaterno1" class="form-label"
        >Apellido Materno</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputAmaterno1"
        [(ngModel)]="a_materno"
        [ngModelOptions]="{standalone: true}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputFechaNac1" class="form-label"
        >Fecha Nacimiento</label
      >
      <input
        type="date"
        class="form-control"
        id="exampleInputFechaNac1"
        [(ngModel)]="fechaNac"
        [ngModelOptions]="{standalone: true}"
        required
      />
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getRFC()">Generar</button>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Su RFC es:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary" role="alert">
          {{showRFC}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cleanDatos()">Close</button>
      </div>
    </div>
  </div>
</div>
